<!-- view_post.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ blog.title }}</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            <li><a href="{{ url_for('add_post') }}">Add Post</a></li>
        </ul>
    </nav>
    
    <div class="container">
        <h2>{{ blog.title }}</h2>
        <img src="{{ url_for('static', filename='uploads/' ~ blog.photo_filename) }}" alt="Blog Photo">
        <p>{{ blog.content }}</p>
        

        <h3>Comments</h3>
        <ul>
            {% for comment in comments %}
                <li>{{ comment.comment }} - {{ comment.username }} ({{ comment.created_at }})</li>
            {% else %}
                <li>No comments yet.</li>
            {% endfor %}
        </ul>

        <h3>Add a Comment</h3>
        <form action="{{ url_for('add_comment', blog_id=blog.id) }}" method="post">
            <textarea name="comment" required></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
